<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery-3.3.1.min.js"/>
</head>
<body>
ajax
<div id="ajax">


</div>
</body>
</html>

<script>



//    $.ajax({
//        type: "get",
////        dataType: "html",
//        url: '/helloworld',
////        data: dataurl,
//        success: function (data) {
//            if (data != "") {
//                var dom = document.getElementById( "ajax" );
//                dom.innerHTML=data;
//
//            }
//        }
//    });


</script>